<div class="container-fluid navbar-offset">
    <div class="row">
        <div class="col-4">
        <h4>Weekly Pumps</h4>
        <p>626</p>
        </div>
        <div class="col-4">
        <h4>Total Pumps</h4>
        <p>3,491</p>
        </div>
        <div class="col-4">
        <h4>Points Spent on You</h4>
        <p>410,058</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <%= link_to "Download Pump Data (CSV)", admin_csv_path(format: :csv) %>
      </div>
      <div class="col-3">
        <%= link_to "Download Point Spending Data (CSV)", admin_csv_path(format: :csv) %>
      </div>
      <div class="col-3">
        <%= link_to "Download Card Data (CSV)", admin_csv_path(format: :csv) %>
      </div>
      <div class="col-3">
        <%= link_to "Download Scanner Data (CSV)", admin_csv_path(format: :csv) %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <%= form_tag('/data', method: :get, class: "partner_search") do %>
            <%= select_tag "line", "<option>LRT1</option><option>LRT2</option><option>MRT3</option>".html_safe %>
            <%= select_tag "station", options_from_collection_for_select(@stations, "id", "name") %>
            <%= select_tag "direction", "<option>Northbound</option><option>Southbound</option>".html_safe %>
            <%= date_field_tag "created_at" %>
            <%= submit_tag "Get data" %>
        <% end %>
      </div>
      <div class="col-6">
        <%= pie_chart [
          ["Scans with valid points", @valids[1]],
          ["Invalid scans", @valids[0]]
        ] %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col text-center">
        <h5>Total Pumps</h5>
        <%= line_chart @total_pumps %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col text-center">
        <h5>Points Rewarded</h5>
        <%= line_chart @points_rewarded %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col text-center">
        <h5>Pumps without Scans</h5>
        <%= line_chart @no_scans %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col text-center">
        <h5>Points Spent on You</h5>
        <%= line_chart @points_spent %>
      </div>
    </div>
</div>
